[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_full_version = ">=3.8.1"

[packages]
requests = ">=2.31"
python-telegram-bot = ">=20"
mongoengine = "*"
pyyaml = "*"
munch = "*"
click = "*"
importlib-metadata = ">=0.12"
certifi = ">=2012.12.7"

[dev-packages]
flake8 = "*"
yapf = "*"
pip = ">=21.3"
pipenv = ">=9.0.1"
setuptools = ">=65.5.1"
pbr = "*"
