[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_full_version = ">=3.9.0"

[packages]
requests = ">=2.31"
python-telegram-bot = ">=20"
mongoengine = "*"
pyyaml = "*"
munch = "*"
click = "*"
importlib-metadata = ">=0.12"
certifi = ">=2025.1.31"

[dev-packages]
flake8 = "*"
yapf = "*"
pip = ">=21.3"
pipenv = ">=2025.0.2"
setuptools = ">=78.1.1"
wheel = ">=0.44.0"
pbr = "*"
